<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<p>DB data <%= dbdata[0].cid %><%= dbdata[0].value %></p>
		<script type="text/javascript" src="http://localhost:3001/socket.io/socket.io.js/"></script>
		<script type="text/javascript">
			var socket = io.connect('http://localhost:3001');
			socket.on('news', function (data) {
				console.log(data);
			});
			setInterval(function(){socket.emit("fetch data", {})}, 3000);
			socket.on("db update", function(data){
						console.log(data);
					});
		</script>
  </body>
</html>
